<div id="home_page" class="home_page">
    <div class="menu_page display-none">
        <div class="img"></div>
        <div class="text">
            <h1 class="head-menu">{{vm.title}}</h1>
            <p class="text-menu">{{vm.description}}</p>
        </div>
        <div class="item-menu" id="list_menu">
            <div class="scroll-movie">
                <div class="btn-menu margin-right-11" ng-repeat="items in $root.listMenu"
                     focusable="{ depth : {{ $root.depth.main.val }} , nextFocus: {down: 'btn_play' , top: 'null' , right : $last ? 'null' :'', left : $first ? 'null' :''}}"
                     on-selected="vm.onSelect(items)" on-focused="vm.focusText($event, items, 5, $index)"
                     on-blurred="vm.blurrText(items)"
                     ng-class="items.type === 'search' ? 'active':''" id="{{items.id}}">
                    <div id="img" class="img-menu" ng-class="{ imgsearch: items.type === 'search',imgmovies: items.type === 'movies',
            imgseriesmovie: items.type === 'rent-movie',imgmylist: items.type === 'my-list',
            imgestablish: items.type === 'establish',imgsignout: items.type === 'sign-out'}"
                         on-selected="vm.select(items)"></div>
                    <span class="sign-out" ng-show="items.type === 'sign-out'">Thoát 5Dmax</span>
                </div>
            </div>
        </div>

        <div class="btn-down-home text-center">
            <div class="btn-back-img"></div>
        </div>
    </div>
    <div class="block_top">
        <div id="showTrailer">
        </div>


        <!--<div class="home_slider_wrapper">-->
        <div class="full_page home_slider" ng-show="!vm.isFocuseMovie">
            <div class="full_page item banner_{{$index}}" id="{{item.id}}" ng-repeat="item in vm.banner" ng-class="{ 'active' : $first }">
                <img class="full_page item_bg"
                     ng-src="{{::item.imageForTVLarge}}" width="" height="" alt="">
                <article class="slider_article">
                    <header class="display-block"><img ng-src="{{::item.logoImage}}" width="" height="" alt="">
                    </header>
                    <div class="content display-block">
                        <h4>{{::item.name}}</h4>
                        <p>{{::item.description}}</p>
                    </div>
                </article>
            </div>
        </div>
        <!--</div>-->
        <div class="group_btn" id="group_btn">
            <button focusable="{initialFocus: true, depth : $root.depth.main.val, name : 'btn_play' , nextFocus: {top : 'btnSearch'}}"
                    id="btn_watch"
                    class="watch" on-focused="vm.focusPlay()" on-blurred="vm.blurrPlay()"
                    on-selected="vm.clickPlay(true)"><span
                    class="img-watch"></span><span class="text">Xem</span></button>
            <button id="btn-detail" focusable="{depth : $root.depth.main.val, nextFocus: {top: 'active'}}"
                    data-focusable-next-focus-right="null" class="detail"
                    on-focused="vm.focusDetail()" on-selected="vm.viewDetail()">Chi tiết
            </button>
        </div>
        <div class="movie_article_wrapper" ng-show="vm.isFocuseMovie">
            <article class="movie_article">
                <h3 ng-class="{font70:!vm.currentItem.attributes}">{{vm.currentItem.name}}</h3>
                <div class="meta">
                        <span class="year"
                              ng-if="vm.currentItem.type=== 'FILM' ">{{vm.currentItem.year_of_product}}</span>
                    <span class="episode"
                          ng-if="vm.currentItem.type=== 'FILM' ">{{vm.currentItem.content_filter}}</span>
                    <span class="time"
                          ng-if="vm.currentItem.attributes=== '1'">{{vm.currentItem.duration}} phút</span>
                    <!--<span class="time" ng-if="vm.currentItem.type=== 'VOD' ">{{vm.currentItem.duration}}</span>-->
                </div>
                <p ng-class="{font70:!vm.currentItem.attributes}"
                   ng-if="vm.currentItem.attributes ==='0'|| vm.currentItem.attributes ==='1'" class="content">
                    {{vm.currentItem.description}} </p>
                <div ng-show="!vm.currentItem.attributes" style="width: 350px;position: relative">
                    <p ng-class="{opacity0: vm.checkFilm !== 'check'}" class="content" style="white-space: nowrap;">
                        {{vm.currentItem.name}}</p>
                    <div id="progress_bar" class="video-progress-bar " style="margin-top: -7%">
                        <div class="progress-bar-bkgd video">
                            <div class="progress-bar-marker video"></div>
                        </div>
                    </div>
                    <span class="text-process"> {{vm.time}} phút</span>
                </div>
            </article>
        </div>
        <div class="btn-up-to-top text-center display-block">
            <div class="btn-back-img"></div>
        </div>
    </div>
    <div class="block_bottom">
        <div class="list_movies_wrapper">
            <div id="list_container" style="transform: translate3d(0,300px, 0);">
            </div>
        </div>
    </div>
</div>
<div id="dialog_logout" class="dialog-2 dialog_exit full_page hidden dialog_hide popup dialog_logout">
    <div class="dialog_inner">
        <div class="img-popup"></div>
        <div class="content">
            <h1 class="title">Thoát ứng dụng</h1>
            <p class="content">Bạn có muốn thoát khỏi ứng dụng không?</p>
        </div>
        <div class="action">
            <button id="btn_cancle_exit" focusable="{depth : $root.depth.dialog.val, initialFocus : true}"
                    on-selected="vm.cancel()">HỦY
            </button>
            <button id="btn_approve_exit" focusable="{depth : $root.depth.dialog.val}"
                    on-selected="vm.approveExit()">
                ĐỒNG Ý
            </button>
        </div>
    </div>
</div>

<div id="popup_movie_detail_2" class="dialog-2 full_page hidden popup_movie_detail_2">
    <div class="dialog_inner">
        <div class="img-popup"></div>
        <div class="content">
            <h1 class="title_messenger"></h1>
            <p class="messenger"></p>
        </div>
        <div class="action">
            <button id="cancel_buy_2" class="cancel_buy_detail"
                    focusable="{depth : depth.dialog.val, initialFocus : true}"
                    on-selected="vm.cancel1()">HỦY
            </button>
            <button id="detail_home" class="yes_buy_detail" focusable="{depth : depth.dialog.val }"
                    on-selected="vm.yes1()">ĐỒNG Ý
            </button>
        </div>
    </div>
</div>
