<div id="home_page" class="home_page">
    <div class="block_top">
        <div id="av-container-rent" class="display-trainer trainer">
        </div>
        <div class="movie_article_wrapper" ng-show="vm.isFocuseMovie">
            <article class="movie_article">
                <h3>{{vm.currentItem.name}}</h3>
                <div class="meta">
                        <span class="year"
                              ng-if="vm.currentItem.type=== 'FILM' ">{{vm.currentItem.year_of_product}}</span>
                    <span class="episode"
                          ng-if="vm.currentItem.type=== 'FILM' ">{{vm.currentItem.content_filter}}</span>
                    <span class="time"
                          ng-if="vm.currentItem.attributes=== '1'">{{vm.currentItem.duration}} phút</span>
                    <span class="time" ng-if="vm.currentItem.type=== 'VOD' ">{{vm.currentItem.duration}}</span>
                </div>
                <p class="content">
                    {{vm.currentItem.description}} </p>
            </article>
        </div>
    </div>
    <div class="block_bottom">
        <div class="list_movies_wrapper">
            <div id="list_container_rent" style="transform: translate3d(0,0,0);">
            </div>
        </div>
    </div>
</div>

