<div id="movie-detail" class="movie-detail">
    <div class="background-movie" style="background-image: url({{::vm.detailFilms.coverImage}});">
        <div class="gradient-img"></div>
    </div>
    <div class="title-movie">
        <p class="name-movie">{{::vm.detailFilms.name}}</p>
        <div class="time-movie">
            <span>{{::vm.detailFilms.year_of_product}}</span>
            <span class="age" ng-if="vm.detailFilms.content_filter !== null && vm.detailFilms.content_filter !== ''">{{::vm.detailFilms.content_filter}}</span>
            <span class="time"
                  ng-if="vm.detailFilms.attributes === '1' && vm.detailFilms.duration !== null && vm.detailFilms.duration !== ''">{{::vm.detailFilms.duration}} phút</span>
            <span class="ep" ng-if="vm.detailFilms.attributes === '0'">{{::vm.ep}} tập</span>
        </div>
        <div class="des-movie">
            <p class="descrition-movie">{{::vm.detailFilms.description}}</p>
        </div>
        <div class="cast-movie">
            <p>Diễn viên: {{vm.actor}}</p>
            <p>Thể loại: {{vm.type}}</p>
        </div>
        <div class="tool-movies">
            <button id="btn_continue" class="button-common" focusable="{depth : $root.depth.detail.val }"
                    ng-show="vm.viewContinue" on-selected="vm.goToPlayer(true)">
                <!--<div id="progress_bar" class="video-progress-bar">-->
                    <!--<div class="progress-bar-bkgd video">-->
                        <!--<div class="progress-bar-marker video"></div>-->
                    <!--</div>-->
                <!--</div>-->
                <span class="img-tool img-continue"></span>
                <span class="text-btn">Xem tiếp </span>
            </button>
            <button id="btn_common" class="button-common" focusable="{depth : $root.depth.detail.val }"
                    on-selected="vm.goToPlayer(false)">
                <span class="img-tool " ng-class="!vm.viewContinue ? 'img-continue' : 'img-watch-fist'  "></span>
                <span class="text-btn" ng-show="vm.viewContinue">Xem từ đầu</span>
                <span class="text-btn" ng-show="!vm.viewContinue">Xem</span>
            </button>
            <button class="button-common" focusable="{ depth : $root.depth.detail.val}" on-selected="selectList()"
                    ng-show="vm.detailFilms.attributes === '0'">
                <span class="img-tool img-list"></span>
                <span class="text-btn">Danh sách tập</span>
            </button>
            <button id="likeUnLike" class="button-common" focusable="{ depth : $root.depth.detail.val }"
                    on-selected="vm.likeOrUnlike()">
                <span id="img_add" class="img-tool img-add"> </span>
                <span id="img_remove" class="img-tool img-remove hidden"></span>
                <span class="text-btn">Thêm vào xem sau</span>
            </button>
        </div>
    </div>
    <div id="popup_movie_detail" class="dialog full_page hidden popup_movie_detail">
        <div class="dialog_inner">
            <div class="content">
                <div>
                    <h1 class="title_messenger"></h1>
                    <p class="messenger"></p>
                </div>
            </div>
            <div class="action">
                <div>
                    <button class="yes_buy_detail" focusable="{depth : depth.dialog.val}" on-selected="vm.yes()">Đồng
                        ý
                    </button>
                    <button id="cancel_buy" class="cancel_buy_detail" focusable="{depth : depth.dialog.val}"
                            on-selected="vm.cancel()">Bỏ Qua
                    </button>
                </div>
            </div>
        </div>
    </div>
