<div class="movie-detail3 full_page">
    <div class="title-movie">
        <p class="name-movie">{{::vm.detailFilms.name}}</p>
        <div class="time-movie">
            <span>{{::vm.detailFilms.year_of_product}}</span>
            <span class="age">{{::vm.detailFilms.content_filter}}</span>
            <span>{{::vm.ep}}</span> <span> tập</span>
        </div>
        <div class="season-movie">
            <span class="season">Season 1</span>
            <span class="lap-total">{{::vm.ep}} tập</span>
        </div>fisrt
    </div>
    <div class="part-movie">
        <caph-list id="list_item" container-class="item-movie" direction="vertical" items="item in vm.listFilms" wrapper-class="wrapper_item_list" initial-item-index="{{index_item}}">
            <div id="" class="item"  ng-class="{'list_0' : $first }" focusable="{depth : $root.depth.listMovie.val}"
                 on-selected="vm.playMovie(item)" ng-class="item.alias === 'Tập 1' ? 'active_list_film': '' ">
                <img class="img-movie" src="{{item.coverImage}}" height="" width="" alt="">
                <div class="des-movie">
                    <p class="lap">{{item.alias}}</p>
                    <span class="des">{{item.description}}</span>
                    <p class="time">{{item.durationMinute}} <span> phút</span></p>
                </div>
            </div>
        </caph-list>
    </div>
</div>
<div id="popup_movie_list" class="dialog full_page hidden popup_movie_detail">
    <div class="dialog_inner">
        <div class="content">
            <div>
                <h1 class="title_messenger"></h1>
                <p class="messenger"></p>
            </div>
        </div>
        <div class="action">
            <div>
                <button class="yes_buy_list" focusable="{depth : depth.dialog.val}" on-selected="vm.yes()">Đồng ý</button>
                <button id="cancel_buy" class="cancel_buy_list" focusable="{depth : depth.dialog.val}"
                        on-selected="vm.cancel()">Bỏ
                </button>
            </div>
        </div>
    </div>
</div>