<div class="movie-detail genres2 my-list">
    <div class="tab-left">
        <div class="item">
            <button id="film_history" focusable="{ depth : $root.depth.list.val }" data-focusable-name="cate-1"
                    data-focusable-next-focus-right="item0" class="button-nav btn_myList"
                    on-focused="vm.getFilms('film_history')">
                <span class="text-left">Đang xem</span>
                <span class="total">{{vm.historyFilm.length}}</span>
            </button>
            <button id="my_list" focusable="{ depth : $root.depth.list.val }" data-focusable-name="cate-2"
                    data-focusable-next-focus-right="item0" class="button-nav btn_myList"
                    on-focused="vm.getFilms('MYLIST')">
                <span class="text-left">Xem sau</span>
                <span class="total">{{vm.lastFilm.length}}</span>
            </button>
        </div>
    </div>
    <div class="title-movie">
        <p class="name-movie">{{vm.item.name}}</p>
        <div class="time-movie" ng-show="vm.value == 'MYLIST'">
            <span>{{vm.item.year_of_product}}</span>
            <span class="age" ng-if="vm.item.content_filter !== null && vm.item.content_filter !== ''">{{vm.item.content_filter}}</span>
            <span class="des" ng-if="vm.item.attributes === '1' && vm.item.duration !== null && vm.item.duration != ''">{{vm.item.duration}} phút</span>
        </div>
        <div class="time-movie" ng-show="vm.value == 'film_history'">
            <span class="des">{{vm.item.duration}}</span>
        </div>
        <div class="des-movie">
            <p class="descrition-movie">
                {{vm.item.description}}
            </p>
        </div>
    </div>
    <div class="tab-right">
        <!--<span id="text-my-list" class="text display-none">Hiện tại chưa có phim</span>-->
        <div class="img-arrow-left display-none"></div>
        <div class="background-movie"
             style="background-image: url({{vm.srcImg}})">
            <div class="gradient-img"></div>
            <div class="caph-list-movie">
                <div id="my_list_caph" class="list-movie col-lg-10" direction="vertical">
                    <div class="item-wrapper col-lg-2"
                         focusable="{ depth : $root.depth.list.val, name: 'item' + $index}"
                         data-focusable-next-focus-left="{{$index % 5 == 0 ? vm.currentLeftCat : default}}"
                         on-focused="vm.showFilm($event, $originalEvent, 1, $index, item)"
                         on-selected="vm.selectMovie(item)" id="myListItem_{{$index}}"
                         ng-repeat="item in vm.objects">
                        <div class="item-movie "
                             style="background-image: url({{item.coverImageH ? item.coverImageH : item.coverImage}})"
                             ng-style="vm.value == 'film_history'"
                        ></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>