
<div class="avplayer_page full_page display-block" id="playerNone">
    <caph-media ng-cloak id="player" class="player" ng-class="" ischannel="isChannel" subtitle="setting.subTitle">
        <video id=av-player class="video-js vjs-default-skin">
        </video>
        <div id="controls_bar" class="controls-bar" ng-class="{'fade-out': isPlaying}"
             ng-mouseover="setMediaControllerTimer()">
            <div id="play_btn" focusable="{initialFocus: true, depth : $root.depth.player.val } ">
                <div class="btn" ng-class="{'icon_pause': isPlaying, 'icon_play': !isPlaying}"></div>
            </div>

            <div class="play-position"></div>
            <div id="progress_bar" class="video-progress-bar-wrapper">
                <div class="progress-bar-bkgd video">
                    <div class="progress-bar-marker video"></div>
                </div>
            </div>

            <div class="end-position"></div>
        </div>
        <article class="movie_article" ng-class="{'fade-out': isPlaying}">
            <h3>{{::detailMovie.name}}</h3>
            <div class="episode_number">{{detailMovie.alias}}</div>
            <p class="content">{{detailMovie.description}}</p>
        </article>
    </caph-media>
</div>
<div class="display-none relate_film_background" id="avplayer_suggest">
    <div class='background' style="background-image: url({{vm.bannerItem}}) !important;">
        <div class="movie-current" style="background-image: url({{vm.imgCurrentItem}}) !important;">
        </div>
        <div class="shadow">
            <div class="back"></div>
        </div>
        <span class="text">Quay lại</span>
        <div class="movie_suggetion">
            <article class="slider_article">
                <header><img ng-src="{{vm.logoItem}}" width="" height="" alt="">
                </header>
                <h1>{{vm.name}}</h1>
                <button id="detail-sugget"  on-selected="vm.watchMovie()"
                        focusable="{depth : $root.depth.player.val }">
                    Xem
                </button>
                <button class="btn-right" on-selected="vm.selectItem()" focusable="{depth : $root.depth.player.val }">
                    Xem Chi Tiết
                </button>
            </article>
        </div>
    </div>
</div>

<div id="popup_movie_detail_1" class="dialog-2 full_page hidden popup_movie_detail_1">
    <div class="dialog_inner">
        <div class="img-popup"></div>
        <div class="content">
            <h1 class="title_messenger"></h1>
            <p class="messenger"></p>
        </div>
        <div class="action">
            <button id="cancel_buy" class="cancel_buy_detail" focusable="{depth : depth.dialog.val}"
                    on-selected="vm.cancel()">HỦY
            </button>
            <button class="yes_buy_detail" id="detail_player" focusable="{depth : depth.dialog.val , initialFocus : true }"
                    on-selected="vm.yes()">ĐỒNG Ý
            </button>
        </div>
    </div>
</div>


