.caph-list-movie {
  position: absolute;
  left: 0;
  top: 630*$rem;
  padding-left: 30*$rem;
  width: 1280vw;
  height: 450*$rem;
  overflow: hidden;
  @include translateX(0);
  @include transition(.5s);
  caph-list, .list-movie {
    width: 1280px !important;
    height: 9999*$rem;
    overflow: hidden;
    display: block;
  }
  .item-wrapper {
    height: 197*$rem;
    width: 335*$rem;
    border: 3*$rem solid transparent;
    border-radius: 4*$rem;
    margin-right: 10*$rem;
    margin-bottom: 20*$rem;
    &.focused {
      border: 3*$rem solid #fff;
      border-radius: 4*$rem;
    }
  }
  .item-movie {
    height: 197*$rem;
    width: 335*$rem;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    .name-movie {
      white-space: nowrap;
    }
  }
}

.genres2 {
  .tab-left {
    z-index: 999;
    position: absolute;
    left: 90*$rem;
    @include translateX(0);
    width: 350*$rem;
    @include transition(.5s);
    padding-top: 170*$rem;
    height: 900*$rem;
    .item {
      height: 68*$rem;
      width: 350*$rem;
    }
  }
  .title-movie {
    z-index: 100;
    left: 350*$rem;
    opacity: 0;
    @include translateX(0);
    @include transition(.5s);
  }
  .img-arrow-left {
    width: 47*$rem;
    height: 80*$rem;
    background-repeat: no-repeat;
    background-image: url(../images/ic-arrow-left@3x.png);
    background-size: 100% 100%;
    position: absolute;
    margin-top: 42%;
    margin-left: 3%;
    @include transition(.5s);
  }

  /* bootstrap classes */
  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
    position: relative;
    min-height: 1*$rem;
    float: left
  }
  .col-lg-12 {
    width: 100%
  }

  .col-lg-11 {
    width: 91.66666667%
  }

  .col-lg-10 {
    width: 83.33333333%
  }

  .col-lg-9 {
    width: 75%
  }

  .col-lg-8 {
    width: 66.66666667%
  }

  .col-lg-7 {
    width: 58.33333333%
  }

  .col-lg-6 {
    width: 50%
  }

  .col-lg-5 {
    width: 41.66666667%
  }

  .col-lg-4 {
    width: 33.33333333%
  }

  .col-lg-3 {
    width: 25%
  }

  .col-lg-2 {
    //width: 16.66666667%
  }

  .col-lg-1 {
    width: 8.33333333%
  }

  .col-lg-offset-12 {
    margin-left: 100%
  }

  .col-lg-offset-11 {
    margin-left: 91.66666667%
  }

  .col-lg-offset-10 {
    margin-left: 83.33333333%
  }

  .col-lg-offset-9 {
    margin-left: 75%
  }

  .col-lg-offset-8 {
    margin-left: 66.66666667%
  }

  .col-lg-offset-7 {
    margin-left: 58.33333333%
  }

  .col-lg-offset-6 {
    margin-left: 50%
  }

  .col-lg-offset-5 {
    margin-left: 41.66666667%
  }

  .col-lg-offset-4 {
    margin-left: 33.33333333%
  }

  .col-lg-offset-3 {
    margin-left: 25%
  }

  .col-lg-offset-2 {
    margin-left: 16.66666667%
  }

  .col-lg-offset-1 {
    margin-left: 8.33333333%
  }

  .col-lg-offset-0 {
    margin-left: 0
  }
  /* end bootstrap classes*/

}

.genres2.move-left {
  .tab-left, .caph-list-movie, .title-movie {
    @include translateX(-350*$rem);
  }
  .title-movie {
    opacity: 1;
  }
  .btn_myList{
    opacity: 0;
  }
}

.button-nav {
  min-width: 350*$rem;
  height: 68*$rem;
  font-size: 38*$rem;
  font-weight: 600;
  line-height: 1.74;
  letter-spacing: -0.3*$rem;
  color: #e6e6e6;
  background-color: transparent;
  border: none;
  outline: none;
  margin-bottom: 20*$rem;
  text-align: left;
  padding-left: 22*$rem;
  text-transform: capitalize;
  &.focused {
    border-radius: 4*$rem;
    background-color: #ffffff;
    color: #333333;
    box-shadow: 1*$rem 26*$rem 22*$rem 0 rgba(0, 0, 0, 0.17);
  }
}
.display-block{
  display: block;
}
.display-none{
  display: none;
}
