@import "global";
.gradient-img {
  background-image: url("../images/spotlight-gradient@3x.png");
  height: 769*$rem;
  width: 1788*$rem;
  background-repeat: no-repeat;
  background-position-y: center;
  position: absolute;
  top: 0;
  left: -170*$rem;
  &:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200%;
    height: 210*$rem;
    background: linear-gradient(to top, #000, rgba(0, 0, 0, 0.8) , rgba(0, 0, 0, 0.3),  transparent);
  }
}
.background-movie {
  position: relative;
  @extend %clearfix;
  float: right;
  background-size: 100% 100%;
  height: 768*$rem;
  width: 1452*$rem;
}
.movie-detail {
  color: #999999;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  .name-movie {
    font-size: 53*$rem;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0.3*$rem;
    text-align: left;
    color: #fff;
    margin: 0 0 10*$rem;
    //width: 535*$rem;
    //height: 70*$rem;
  }
  .time-movie {
    font-size: 24*$rem;
    .age {
      border-radius: 4*$rem;
      background-color: #333333;
      display: inline-block;
      text-align: center;
      width: 52*$rem;
      height: 29*$rem;
      margin: 0 20*$rem;
    }
  }
  .title-movie {
    position: absolute;
    width: 33.5%;
    padding-top: 78*$rem;
    margin-left: 140*$rem;
  }
  .des-movie {
    font-size: 30*$rem;
    line-height: 1.2;
    letter-spacing: 0.3*$rem;
    .descrition-movie{
      @include ellipsis(30*$rem, 1.2, 3);
    }
  }
  .cast-movie {
    margin-top: 5*$rem;
    font-size: 24*$rem;
    font-style: italic;
    font-family: SFUIDisplay;
    line-height: 1.17;
    letter-spacing: -0.3*$rem;
    color: #cccccc;
    p:first-child {
      margin: 0*$rem;
    }
    p:last-child {
      margin-top: 0*$rem;
    }
  }
  .button-common {
    display: block;
    position: relative;
    width: 360*$rem;
    height: 60*$rem;
    border-radius: 4*$rem;
    background-color: transparent;
    font-size: 30*$rem;
    border: none;
    text-align: left;
    outline: none;
    color: #999999;
    padding: 0;
    margin-bottom: 14*$rem;
    &:last-child {
      margin-bottom: 0;
    }
    .img-continue{
      background-image: url("../images/ic-detail-play-nomal-copy-2@3x.png");
    }
    .img-watch-fist{
      background-image: url("../images/ic-detail-begining-nomal@3x.png");
    }
    .img-list{
      background-image: url("../images/focused1.png");
    }
    .img-add{
      background-image: url("../images/add-circle-material@3x.png");
    }
    .img-remove{
      background-image: url("../images/add-circle-material@3x11.png");
    }
    .img-tool {
      height: 48*$rem;
      width: 48*$rem;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      float: left;
      margin-right: 15*$rem;
      margin-left: 15*$rem;
    }
    &.focused {
      background-color: #ffffff;
      color: #333333;
      .img-continue{
        background-image: url("../images/ic-detail-play-nomal@3x.png");
      }
      .img-watch-fist{
        background-image: url("../images/ic-detail-begining-focus@3x.png");
      }
      .img-list{
        background-image: url("../images/focused.png");
      }
      .img-add{
        background-image: url("../images/ic-detail-add-focus@3x.png");
      }
      .img-remove{
        background-image: url("../images/add-circle-material-copy@3x.png");
      }
    }
    .text-btn {
      position: absolute;
      top: 12*$rem;
    }
  }
  .tool-movies {
    margin-top: 88*$rem;
  }

}